.home {
  .simplebar-content-wrapper {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1023px) {
  // .simplebar-content {
  //   display: flex;
  //   justify-content: center;
  // }

  .simplebar-content-wrapper {
    justify-content: center;
  }
}